// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

#video-player .panel_contents {
  aspect-ratio: 16 / 9;
}
#channel-listing-panel .channel {
  min-height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  cursor: pointer;
}

#channel-listing-panel .channel:hover {
  background-color: rgba(0, 0, 0, 0.40);
}

#channel-listing-panel .channel-thumbnail, .channel-thumbnail img {
  float: left;
  margin-right: 5px;
  max-height: 45px;
  max-width: 80px;
}

#channel-listing-panel .channel-name {
  font-size: 1.2em;
  font-weight: bold;
}

#channel-listing-panel .playing {
  background-color: rgba(0, 0, 0, 0.20);
}

.video-js .vjs-duration, .vjs-time-divider, .video-js .vjs-current-time {
  display: block !important;
}

.vjs-remaining-time {
  display: none !important;
}
